<li><% include partials/_header %></li>
<!--barra de busqueda-->
<hr>
<hr>
<div class="section section-white">
     <div class="container">
          <div class="row">
               <div class="section-title">
                    <h1>Coincidencia Artistas</h1>
               </div>
               <!--Tabal que muestra los datos-->
               <table class="table table-border table-hover">
                    <thead>
                         <tr>
                              <th>N°</th>
                              <th>Artista</th>
                         </tr>
                    </thead>
                    <tbody>
                         <!--vamos a recorrer los elementos-->
                         <% if(data){ 
                              for(var i=0; i < data.length; i++){ %>
                         <tr>
                              <td><%= i+1 %></td>
                              <td> <a href="<%= data[i].link %>">
                              <%= data[i].name_artistas %> </a></td>
                         </tr>
                         <%  } %>
               
                         <%  } %>
                         <!--Asi le llame en customercontroler.js-->
                    </tbody>
               </table>
          </div>
          <div class="row">
               <div class="section-title">
                    <h1>Coincidencia Canciones</h1>
               </div>
          </div>
     </div>
</div>